body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ebafe73c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #9ec8f1;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
}

#postsList {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f2f2f2;
    position: relative;
    bottom: 0;
    width: 100%;
}
header {
    background-image: url('socialhhhh.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: rgb(73, 11, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
